body {
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial';
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
    background-color: #111;;
}

header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 32px;
    font-weight: bold;
}

#intro {
    color: #333;
    text-align: center;
    margin: 5vh 0px;
    font-size: 22px;
}

main {
    width: 100%;
    margin: 0 auto;
}

#map {
    height: 100%;
    width: 100%;
}

.mapWrapper {
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #DDD;
}