body {
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial';
    box-sizing: border-box;
}

header {
    height: 30%;
    width: 100%;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 32px;
    font-weight: bold;
}

#intro {
    color: #333;
    text-align: center;
    margin: 5vh 0px;
    font-size: 22px;
}

main {
    width: 100%;
    margin: 0 auto;
}

#map {
    height: 100%;
    width: 100%;
}

.mapWrapper {
    height: 600px;
    overflow: hidden;
    background-color: #DDD;
}


html, body {
    height: 255px;
    margin: 0;
    padding: 0;
}